option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_DOMAIN
    value: topcoder-dev.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: development
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NEW_RELIC_LICENSE_KEY
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_LEVEL
    value: warn
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CAPTURE_LOGS
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOGENTRIES_TOKEN
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_SECRET
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOOKERAPI_CLIENT_ID
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOOKERAPI_HOST
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOOKERAPI_CLIENT_SECRET
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOOKERAPI_LOGIN_URL
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOOKERAPI_TIMEOUT
    value: TBD